[submodule "vimfiles/bundle/typescript-vim"]
	path = vimfiles/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vimfiles/bundle/rust.vim"]
	path = vimfiles/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vimfiles/bundle/vim-csharp"]
	path = vimfiles/bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "vimfiles/pack/tpope/start/vim-sleuth"]
	path = vimfiles/pack/tpope/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vimfiles/nerdtree"]
	path = vimfiles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
