[user]
    name = Derek Erdmann
    email = derek@derekerdmann.com
[alias]
    st = status
    glog = log --decorate --oneline --graph
    # "git brel" shows the relationships between refs
    brel = log --all --decorate --oneline --graph --simplify-by-decoration --first-parent
    com = commit    
    last = log -1
    chardiff = diff --word-diff-regex=.
[core]
    editor = gvim
[color]
    ui = true
[push]
    default = upstream
