[submodule "vimfiles/bundle/typescript-vim"]
	path = vimfiles/pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vimfiles/bundle/rust.vim"]
	path = vimfiles/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vimfiles/bundle/vim-csharp"]
	path = vimfiles/pack/plugins/start/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "vimfiles/pack/tpope/start/vim-sleuth"]
	path = vimfiles/pack/tpope/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vimfiles/bundle/vim-nerdtree-tabs"]
	path = vimfiles/pack/plugins/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vimfiles/bundle/vim-slumlord"]
	path = vimfiles/pack/plugins/start/vim-slumlord
	url = https://github.com/scrooloose/vim-slumlord.git
[submodule "vimfiles/bundle/plantuml-syntax"]
	path = vimfiles/pack/plugins/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vimfiles/bundle/DoxygenToolkit.vim"]
	path = vimfiles/pack/plugins/start/DoxygenToolkit.vim
	url = git@github.com:vim-scripts/DoxygenToolkit.vim.git
[submodule "vimfiles/bundle/vim-bitbake"]
	path = vimfiles/pack/plugins/start/vim-bitbake
	url = git@github.com:kergoth/vim-bitbake.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/pack/tpope/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "oh-my-zsh-custom/themes/ohmyzsh-theme-passion"]
	path = oh-my-zsh-custom/themes/ohmyzsh-theme-passion
	url = git@github.com:ChesterYue/ohmyzsh-theme-passion.git
[submodule "oh-my-zsh-custom/themes/headline"]
	path = oh-my-zsh-custom/themes/headline
	url = git@github.com:Moarram/headline.git
[submodule "oh-my-zsh-custom/plugins/schroot.plugin.zsh"]
	path = oh-my-zsh-custom/plugins/schroot
	url = git@github.com:fshp/schroot.plugin.zsh.git
[submodule "vimfiles/pack/airblade/start/vim-gitgutter"]
	path = vimfiles/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vimfiles/pack/rhysd/start/wallaby.vim"]
	path = vimfiles/pack/rhysd/start/wallaby.vim
	url = https://github.com/rhysd/wallaby.vim.git
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vimfiles/pack/plugins/start/kotlin-vim"]
	path = vimfiles/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "vimfiles/pack/dist/start/vim-airline"]
	path = vimfiles/pack/dist/start/vim-airline
	url = http://github.com/vim-airline/vim-airline.git
[submodule "vimfiles/pack/sheerun/start/vim-wombat-scheme"]
	path = vimfiles/pack/sheerun/start/vim-wombat-scheme
	url = https://github.com/sheerun/vim-wombat-scheme.git
[submodule "pack/dist/start/vim-airline-themes"]
	path = vimfiles/pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vimfiles/pack/git-plugins/start/ale"]
	path = vimfiles/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vimfiles/pack/plugins/start/vim-android"]
	path = vimfiles/pack/plugins/start/vim-android
	url = https://github.com/hsanson/vim-android.git
[submodule "vimfiles/pack/plugins/start/swift.vim"]
	path = vimfiles/pack/plugins/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "vimfiles/pack/plugins/start/vimtex"]
	path = vimfiles/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
