[user]
    name = Derek Erdmann
    email = derek@derekerdmann.com
[include]
    path = .gitconfig_sonos
    path = .gitconfig_windows
[alias]
    st = status
    glog = log --decorate --oneline --graph
    # "git brel" shows the relationships between refs
    brel = log --all --decorate --oneline --graph --simplify-by-decoration --first-parent
    com = commit    
    last = log -1
    chardiff = diff --word-diff-regex=.
    # https://www.atlassian.com/blog/git/advanced-git-aliases
    # Graph log of commits in $1 that are not in $2
    glog-diff = "!f() { git glog $1 ^$2; }; f"
    # List files changed in branch $2 relative to the merge base of $1 and $2
    changed-files = "!f() { git diff --name-only --relative $(git merge-base $2 $1) $2; }; f"
[core]
    editor = gvim -f
    pager = less -FX
[color]
    ui = true
[push]
    default = upstream
[http]
    cookiefile = ~/.gitcookies
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
    colorMovedWS = allow-indentation-change
[init]
    defaultBranch = main
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    ff = only
[blame]
	markIgnoredLines = true
